<!DOCTYPE html>
<html lang="en">
<head>
    <title>PeakVis - Crowd Based Peak Visualizer</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<script src='https://d3js.org/d3.v5.min.js'></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.1/math.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.1.1/wordcloud2.min.js"></script>
<script src="/static/scripts/layout.js"></script>

<div class="peakvis"><!-- container -->
    <div class="row mb-3"><!-- cabeçalho -->
        <div class="col-lg-12">
            <ul>
                <li>
                    <a class="" href="layout.html"><img src="static/logo.png" height="55" width="200" alt="PeakVis"></a>
                </li>
                <li style="float:right">
                    <a>
                        <button class="wagGit" onclick="pagGithub()">
							<span class="icon">
								<i class="fa fa-github"></i>
							</span>
                            <span>
                                GitHub
                            </span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div><!-- close cabeçalho -->

    <form name="formulario"><!-- submit area -->
        <div class="row mb-2">
            <div class="col-lg-4 col-sm-12 mb-2">
                <input name="dadoss" type="text" class="wagText" placeholder="Data" value="demo.json">
            </div>
            <div class="col-lg-4 col-sm-12 mb-2">
                <input name="videoo" type="text" class="wagText" placeholder="Video" value="demo.mp4">
            </div>

        </div>
    </form><!-- close submit area -->

    <div class="row mb-2"><!-- submit button -->
        <div class="col-lg-4 col-sm-3">
            <button type="submit" class="wagButton" onclick="plot(); return false">Submit</button>
        </div>
        <div class="col-lg-4 col-sm-3">
            <button class="wagButton" id="wtfbro">Highlight</button>
        </div>
    </div> <!-- cloase submit button -->

    <div class="row mb-3">    <!-- highlight bar -->
        <div class="col-lg-1 col-sm-4 mb-2">
            <p>Highlight Sensitivity</p>
        </div>
        <div class="col-lg-2 col-sm-8 mb-2">
            <input type="range" min="1" max="9" value="7" class="slider" id="slaider">
        </div>
    </div><!-- close highlight bar -->

    <div class="row border-top-area"><!-- grafico -->
        <h1>Tweet Volume Line Chart</h1>
        <div id="plotly_div_id"></div>
    </div><!-- close grafico -->

    <div class="row border-top-area mb-5"><!-- video tweets area -->

        <div class="col-lg-5">
            <h1>Video Player</h1>
            <div id="video_container" class="video"></div>
        </div>
        <div class="col-lg-7">
            <h1>Most Retweeted Tweets</h1>
            <div id="plot_tweets" class=""></div>
        </div>

    </div>


    <div class="row border-top-area"><!-- video tweets area -->
        <div class="col-lg-6">
            <h1>Frequently Said Words</h1>
            <canvas id="wordCloudTeste" class="border-area" width="600" height="500"></canvas>
        </div>
    </div>

</div><!-- cloase container -->
</body>
